<div ng-keydown="keyDown($event)">
	<div class="condition">
		<label class="text-right lbl" for='start-city'>出发城市</label><input readonly="readonly" ng-disabled="goPtimer.goP" ng-model='model.start_city' id='start_city' type="text" placeholder="出发地">
		<label class="text-right lbl" for='end-city'>到达城市</label><input readonly="readonly" ng-disabled="goPtimer.goP" ng-model='model.end_city' id='end_city' type="text" placeholder="目的地">
		<label class="text-right lbl" for='start_date'>出发日期</label><input id="start_date" ng-disabled="goPtimer.goP" ng-model='model.start_date'  type="text" placeholder="出发日期">
		<button class="btn btn-defult btn-mg" ng-click='search()' ng-bind="btnMg"></button>

		<button class="btn btn-go" ng-click='showMenu()' ng-bind="'抢票菜单'"></button>
	</div>
	<div class="qiang-box" ng-show="goPtimer.goPshow">
		<div>
			<span ng-click='goPtimer.goPshow=false' class="glyphicon glyphicon-remove close-btn"></span>
		</div>
		<div class="qiang-msg">
			<div class="qiang-title">
				<div>
					<span>所选日期：</span>
					<span>{{qiangCfg.start_date}}</span>
				</div>
				<div>
					<span>所选车次：</span>
					<span>{{getCc().join('、')}}</span>
				</div>
				<div>
					<span>所选席位：</span>
					<span ng-repeat="seat in model.seat_types" ng-if="seat.status">{{seat.text+'、'}}</span>
				</div>
			</div>
			<div class="msg-text">
				<p ng-repeat="msg in model.msg track by $index">{{msg}}</p>
			</div>
			<div class="start-go-btn clearfix">
				查询次数：
				<span class="vertical-align-middle search-num">{{model.num}}</span>
				<button class="btn btn-defult btn-start vertical-align-middle" ng-click="goSocket()">{{goPtimer.goP?'停止抢票':'开始抢票'}}</button>
			</div>
		</div>
	</div>
	<div style="padding:20px">
		<span class="glyphicon glyphicon-plus"></span><span style="padding-left:10px;padding-right: 20px">添加乘客</span>
		<span ng-repeat='passenger in passengers' style="padding-right: 10px">
			<input type="checkbox" class="check" ng-click="passenger.status=!passenger.status" ng-checked="passenger.status"><span ng-bind='passenger.passenger_name'></span>
		</span>
	</div>
	<div>
		<span style="display: inline-block;padding-bottom:10px;width: 100%">
			<div class="pull-left">
				<span>筛选：</span>
				<span ng-repeat='train_type in train_types'>
					<input type="checkbox" ng-click="checkStatus(train_type)" ng-checked='train_type.status' class="check"><span style="background:{{train_type.color}}" class="station-train-type" ng-bind="train_type.text"></span>
				</span>
			</div>
			<div class="pull-right">
				<span>抢票座位指定：</span>
				<span ng-repeat='seat_type in model.seat_types'>
					<input type="checkbox" class="check" ng-click="seat_type.status=!seat_type.status" ng-checked="seat_type.status">
					<span ng-bind='seat_type.text'></span>
				</span>
			</div>
		</span>
	</div>
	<div>
		<table style="width:1140px;border:2px solid #699069;">
			<thead style="background:#98bf76;">
				<tr style="font-size:16px;">
					<th>车次</th>
					<th style="background:#ffef16">抢</th>
					<th>出发地</th>
					<th>时间</th>
					<th>历时</th>
					<th>商务座</th>
					<th>特等座</th>
					<th>一等座</th>
					<th>二等座</th>
					<th>高软</th>
					<th>软卧</th>
					<th>硬卧</th>
					<th>软座</th>
					<th>硬座</th>
					<th>无座</th>
					<th>日期</th>
					<th>备注</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="data in datas" ng-if="!data.hide" ng-class='{true:"back",false:""}[isIndex==$index]' ng-mouseover="changeBack($index)" ng-click="checkQiang(data)">
					<!-- 车次 -->
					<td style="text-align:left;padding-left:10px">
						<span class="station-train-type" ng-init="config=trainType(data[3])" ng-bind='config.text' style="background:{{config.color}}"></span><span ng-bind='data[3]'></span>
					</td>
					<!-- 抢 -->
					<td ng-bind='"抢"' ng-class='{true:"dbl",false:""}[data.isQiang]'></td>
					<!-- 出发地 -->
					<td class="font-sz-12">
						<span ng-bind="data[6]"></span></br>
						<span ng-bind="data[7]"></span>
					</td>
					<!-- 时间 -->
					<td class="font-sz-12">
						<span ng-bind="data[8]"></span></br>
						<span ng-bind="data[9]"></span>
					</td>
					<!-- 历时 -->
					<td ng-bind='data[10]'></td>
					<!-- 商务座 -->
					<td ng-bind='data[32]' ng-class="{'active':reg.test(data.queryLeftNewDTO.swz_num),'wupiao':!reg.test(data.queryLeftNewDTO.swz_num)}"></td>
					<!-- 特等座 -->
					<td ng-bind='"--"'></td>
					<!-- 一等座 -->
					<td ng-bind='data[31]' ng-class="{'active':reg.test(data.queryLeftNewDTO.zy_num),'wupiao':!reg.test(data.queryLeftNewDTO.zy_num)}"></td>
					<!-- 二等座 -->
					<td ng-bind='data[30]' ng-class="{'active':reg.test(data.queryLeftNewDTO.ze_num),'wupiao':!reg.test(data.queryLeftNewDTO.ze_num)}"></td>
					<!-- 高软 -->
					<td ng-bind='"--"'></td>
					<!-- 软卧 -->
					<td ng-bind='data[23]' ng-class="{'active':reg.test(data.queryLeftNewDTO.rw_num),'wupiao':!reg.test(data.queryLeftNewDTO.rw_num)}"></td>
					<!-- 硬卧 -->
					<td ng-bind='data[28]' ng-class="{'active':reg.test(data.queryLeftNewDTO.yw_num),'wupiao':!reg.test(data.queryLeftNewDTO.yw_num)}"></td>
					<!-- 软座 -->
					<td ng-bind='data.queryLeftNewDTO.rz_num' ng-class="{'active':reg.test(data.queryLeftNewDTO.rz_num),'wupiao':!reg.test(data.queryLeftNewDTO.rz_num)}"></td>
					<!-- 硬座 -->
					<td ng-bind='data[29]' ng-class="{'active':reg.test(data.queryLeftNewDTO.yz_num),'wupiao':!reg.test(data.queryLeftNewDTO.yz_num)}"></td>
					<!-- 无座 -->
					<td ng-bind='data[26]' ng-class="{'active':reg.test(data.queryLeftNewDTO.wz_num),'wupiao':!reg.test(data.queryLeftNewDTO.wz_num)}"></td>
					<!-- 日期 -->
					<td ng-bind='data[13]' style="color:#729668"></td>
					<!-- 备注 -->
					<td ng-bind='data[1]'></td>
				</tr>
			</tbody>
		</table>
	</div>


	<!-- 登录弹出层 -->
	<div class="login-tcc" ng-show="model.showLogin">
		<div class="login">
			<div>
				<label class="login-lbl">账号 :</label><input type="text" placeholder="12306账号" ng-model='user.userName'>
			</div>
			<div>
				<label class="login-lbl">密码 :</label><input type="password" placeholder="密码" ng-model='user.password'>
			</div>
			<div>
				<label class="login-lbl">验证码 :</label>
				<div class="code">
					<img src="{{'/getImage?'+random}}">
					<div class="img-click" ng-click='getCoordinate($event)'>
						<span  ng-repeat="code in user.codeData" style="position:absolute;left:{{code.offsetX-10}}px;top:{{code.offsetY-10}}px;">
							<span class="sign"></span>
						</span>
					</div>
					<div class="renovate" ng-click='changeRandom()'></div>
				</div>
				<div class="clear-ft"></div>
			</div>
			<div>
				<button class="btn btn-defult btn-login" ng-click='loginUp()'>登陆</button>
			</div>
		</div>
	</div>
	
</div>