table thead th {
	padding: 10px;
	text-align: center;
}
tbody td {
	text-align: center;
	border: 1px solid #8eaf80;
	padding: 5px;
	cursor: pointer;
}
.use-title {
	margin-top: 20px;
}
.check {
	width:15px;
	height:15px;
	margin:0 !important;
	vertical-align:middle;
}
.lbl {
	padding: 10px;
}
.btn-go {
    background: #9ad29a;
    margin-left: 70px;
}
.go-qiang {
	width: 132px;
	margin: 20px auto;
}
.condition {
	margin:30px auto 0 auto;
	width:1140px;
}
.btn-mg {
	height: 34px;
	width: 73px;
	margin-left: 38px;
    background: #9ad29a;
    border: 1px solid #d0b6b6;
}
.active {
	color:blue;
}
.wupiao {
	color:#8a7979;
}
.font-sz-12 {
	font-size: 12px;
}
.font-sz-12 span:last-child {
	color: #729668;
}
.back {
	background: #b8d29b;
}
.station-train-type {
	font-size: 12px;
    display: inline-block;
    background: #cf973f;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    color: white;
    margin-right: 5px;
    text-align: center;
    line-height: 14px;
}
.dbl {
    background: #509022;
    color: #e6f700;
}
.qiang-box {
	position: relative;
}
.qiang-msg {
	position: absolute;
	padding: 20px;
	top: 0;
	right: 0;
	width: 400px;
	height: 400px;
	border-radius: 8px;
	background: rgba(42,42,42,0.8);
	color: white;
}
.start-go-btn {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
}
.btn-start {
	float: right;
	margin-right: 20px;
	background: #9ad29a;
	color: black;
}
.close-btn {
	position: absolute;
	cursor: pointer;
	top: 6px;
	right: 10px;
	color: #e1dede;
	z-index: 10;
}
.close-btn:hover {
	color: white;
}